<table>
    <thead>
        <tr>
            <th>GitHub</th>
            <th>Mastodon</th>
            <th>Bluesky</th>
            <th>LinkedIn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="https://github.com/ramalho">@ramalho</a></th>
            <th><a href="https://ciberlandia.pt/@lr/">@ciberlandia.pt@lr</a></th>
            <th><a href="https://bsky.app/profile/ramalho.org">@ramalho.org</a></th>
            <th><a href="https://www.linkedin.com/in/lucianoramalho/">@lucianoramalho</a></th>
        </tr>
    </tbody>
</table>

