code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: bold;
    color: #fb0;
    background-color: #222;
}

pre:has(code) {
    background-color: #222;
    position: relative;
    width: fit-content;
    max-width: none;
    box-sizing: border-box;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #777;
}

th, td {
    padding: 7px;
}